a {
    text-decoration: none;	
}

.frameTop {
	width: 1903px;
	height: 200px;
	margin-top: 50px;
}

.img_1 {
	margin-left: 450px;
	float: left;
}

.form {
	float: left;
	margin-left: 200px;
	margin-top: 150px;
}

.img_2 {
	width: 30px;
	height: 30px;
	position: relative;
	top: 148px;
	left: 20px;
}

.f_ul {
	width: 200px;
	height: 100px;
	position: absolute;
	top: 185px;
	left: 1200px;
}

.f_ul li {
	list-style: none;
	font-size: 20px;
	float: left;
	display: block;
	margin-left: 20px;
}

.form_2 {
	display: block;
	width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

.form_2 div {
	margin-top: 30px;
}

.frameThree {
	width: 950px;
	height: 300px;
	margin-top: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 30px;
}

.message {
	color: red;
	font-size: 15px;
	display: none;
}
