<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>统计</title>
		<link href="css/QueryResult.css" rel="stylesheet" type="text/css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>

	<body>
		<div class="frameTop">
			<img src="img/1.png" class="img_1">
			<form action="" method="post">
				<input type="text" class="form">
			</form>
			<img src="img/2.jpg" class="img_2" onclick="frmsubmit()">
			<ul class="f_ul">
				<a href="index.html">
					<li>首页</li>
				</a>
			</ul>
		</div>
		<div class="middle" id="app">
			<div class="left">
				<div class="show_info">
					<a href="showMess.html">显示个人信息</a>
				</div>
				<div class="alter_info">
					<a href="modifyMess.html">修改个人信息</a>
				</div>
				<div v-if="user.status === '管理员'">
					<div>
						<a href="showAllUsers.html">审查用户</a>
					</div>
					<div>
						<a href="showAllNews.html">审查新闻</a>
					</div>
					<div>
						<a href="static.html">统计</a>
					</div>
					<div>
						<a href="StaticOfYear.html">全年数据统计(评论)</a>
					</div>
					<div>
						<a href="StaticOfYear2.html">全年数据统计(新闻)</a>
					</div>
				</div>
				<div v-if="user.status === '新闻发布员'">
					<div>
						<a href="showMyNews.html">新闻管理</a>
					</div>
					<div>
						<a href="./ueditor/editNew.html">新闻发表</a>
					</div>
				</div>
			</div>
			<div class="right">
				<!--<div class="info">
					年份&emsp;&emsp;月份&emsp;&emsp;评论数目<br />
					<div v-for="item in items">
						{{item.year }}&emsp;&emsp;{{item.month }}&emsp;&emsp;{{item.num}}
						<br />
					</div>
					<br /> 当前页数 : 1 / 1
				</div>-->
				<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
			</div>
		</div>
		<div style="clear: both"></div>
		<hr />
	</body>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="highcharts-7.0.3/highcharts.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/user.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: "#app",
			data: {
				items: [],
				user: {
					name: 'wt',
					status: '1',
					sex: '男',
					path: './img/default.jpg'
				},
				month: [],
				num: []
			},
			mounted() {
				if(islogin()) {
					var usernow = getUser();
					this.user.name = usernow.name;
					this.user.status = usernow.status;
				} else {
					window.location = "login.html";
				}
				axios({
					method: "post",
					url: "http://localhost:8080/StaticOfYear"
				}).then(response => {
					console.log(response.data);
					data = response.data;
					for(var i = 0; i < data.length; i++) {
						var time = data[i].year + '.' + data[i].month;
						this.month.push(time);
						this.num.push(data[i].num);
					}
					console.log(this.month)
					console.log(this.num)
					var title = {
						text: '全年评论数目概况'
					};
					var subtitle = {
						text: '数据来源于数据库统计'
					};
					var xAxis = {
						categories: this.month
					};
					var yAxis = {
						title: {
							text: '单位：个'
						},
						plotLines: [{
							value: 0,
							width: 1,
							color: '#808080'
						}]
					};

					var tooltip = {
						valueSuffix: '个'
					}

					var legend = {
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'middle',
						borderWidth: 0
					};

					var series = [{
						name: '月内数目',
						data: this.num
					}];

					var json = {};

					json.title = title;
					json.subtitle = subtitle;
					json.xAxis = xAxis;
					json.yAxis = yAxis;
					json.tooltip = tooltip;
					json.legend = legend;
					json.series = series;

					$('#container').highcharts(json);
				})
			}
		})
	</script>

</html>