<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>统计</title>
		<link href="css/QueryResult.css" rel="stylesheet" type="text/css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>

	<body>
		<div class="frameTop">
			<img src="img/1.png" class="img_1">
			<form action="" method="post">
				<input type="text" class="form">
			</form>
			<img src="img/2.jpg" class="img_2" onclick="frmsubmit()">
			<ul class="f_ul">
				<a href="index.html">
					<li>首页</li>
				</a>
			</ul>
		</div>
		<div class="middle" id="app">
			<div class="left">
				<div class="show_info">
					<a href="showMess.html">显示个人信息</a>
				</div>
				<div class="alter_info">
					<a href="modifyMess.html">修改个人信息</a>
				</div>
				<div v-if="user.status === '管理员'">
					<div>
						<a href="showAllUsers.html">审查用户</a>
					</div>
					<div>
						<a href="showAllNews.html">审查新闻</a>
					</div>
					<div>
						<a href="static.html">统计</a>
					</div>
					<div>
						<a href="StaticOfYear.html">全年数据统计(评论)</a>
					</div>
					<div>
						<a href="StaticOfYear2.html">全年数据统计(新闻)</a>
					</div>
				</div>
				<div v-if="user.status === '新闻发布员'">
					<div>
						<a href="showMyNews.html">新闻管理</a>
					</div>
					<div>
						<a href="./ueditor/editNew.html">新闻发表</a>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="info">
					年份&emsp;&emsp;月份&emsp;&emsp;新闻数目<br />
					<div v-for="item in items">
						{{item.year }}&emsp;&emsp;{{item.month }}&emsp;&emsp;{{item.num}}
						<br />
					</div>
					<br /> 当前页数 : 1 / 1
				</div>
			</div>
		</div>
		<div style="clear: both"></div>
		<hr />
	</body>
	<script src="js/axios.min.js"></script>
	<script src="js/user.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: "#app",
			data: {
				items: [],
				user: {
					name: 'wt',
					status: '1',
					sex: '男',
					path: './img/default.jpg'
				}
			},
			mounted() {
				if(islogin()) {
					var usernow = getUser();
					this.user.name = usernow.name;
					this.user.status = usernow.status;
				} else {
					window.location = "login.html";
				}
				axios({
					method: "post",
					url: "http://localhost:8080/StaticOfYear2Servlet"
				}).then(response => {
					console.log(response.data);
					this.items = response.data
				})
			}
		})
	</script>

</html>