<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>统计</title>
		<link href="css/QueryResult.css" rel="stylesheet" type="text/css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>

	<body>
		<div class="frameTop">
			<img src="img/1.png" class="img_1">
			<form action="" method="post">
				<input type="text" class="form">
			</form>
			<img src="img/2.jpg" class="img_2" onclick="frmsubmit()">
			<ul class="f_ul">
				<a href="index.html">
					<li>首页</li>
				</a>
			</ul>
		</div>
		<div class="middle" id="app">
			<div class="left">
				<div class="show_info">
					<a href="showMess.html">显示个人信息</a>
				</div>
				<div class="alter_info">
					<a href="modifyMess.html">修改个人信息</a>
				</div>
				<div v-if="user.status === '1'">
					<div>
						<a href="showAllUsers.html">审查用户</a>
					</div>
					<div>
						<a href="showAllNews.html">审查新闻</a>
					</div>
					<div>
						<a href="static.html">统计</a>
					</div>
					<div>
						<a href="StaticOfYear.html">全年数据统计(评论)</a>
					</div>
					<div>
						<a href="StaticOfYear2.html">全年数据统计(新闻)</a>
					</div>
				</div>
				<div v-if="user.status === '2'">
					<div>
						<a href="showMyNews.html">新闻管理</a>
					</div>
					<div>
						<a href="./ueditor/editNew.html">新闻发表</a>
					</div>
				</div>
			</div>
			<div class="right">
				请选择需要统计数据的时间区间
				<br />
				<div>
					<select name="time" v-model="time">
						<option value="1">近一周</option>
						<option value="2">近一月</option>
						<option value="3">近一年</option>
					</select>
					<button type="submit" value="" v-on:click="find()">查询</button>
				</div>
				<div class="info">
					用户类型&emsp;&emsp;用户名&emsp;&emsp;新闻数目<br />
					<div v-for="item in list1">
						{{item.status}}&emsp;&emsp;{{item.author}} &emsp;&emsp;{{item.num}}
						<br />
					</div>
					<br />
				</div>
				<div class="info">
					用户类型&emsp;&emsp;用户名&emsp;&emsp;评论数目<br />
					<div v-for="item2 in list2">
						{{item2.status}}&emsp;&emsp;{{item2.author}} &emsp;&emsp;{{item2.num}}
						<br />
					</div>
					<br />
				</div>
			</div>
		</div>
		<div style="clear: both"></div>
		<hr />
	</body>
	<script src="js/axios.min.js"></script>
	<script src="js/user.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: "#app",
			data: {
				list1: [{
					status: '',
					author: '',
					num: ''
				}],
				list2: [{
					status: '',
					author: '',
					num: ''
				}],
				time: '',
				user: {
					name: 'wt',
					status: '1',
					sex: '男',
					path: './img/default.jpg'
				}
			},
			mouuted() {
				if(islogin()) {
					var usernow = getUser();
					this.user.name = usernow.name;
					this.user.status = usernow.status;
				} else {
					window.location = "login.html";
				}
			},
			methods: {
				find: function(obj, index, type) {
					axios({
						method: "POST",
						url: "http://localhost:8080/StaticData",
						data: {
							time: this.time
						},
						transformRequest: [function(data) {
							// Do whatever you want to transform the data
							let ret = ''
							for(let it in data) {
								// 如果要发送中文 编码 
								ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&'
							}
							return ret
						}],
						headers: {
							'Content-Type': 'application/x-www-form-urlencoded'
						}
					}).then(response => {
						console.log(response.data[0]);
						this.list1 = response.data[0];
						this.list2 = response.data[1]
					}).catch(error => console.log(error))
				}
			}
		})
	</script>

</html>